<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="animated zoomIn">
  <h1 id="welcome">Welcome to your personal Cookbook</h1>
<!-- Devise alerts -->
<% if notice %>

<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<!-- end Devise alerts -->
<%= yield %>

</body>
</html>
